/* ===========================
   responsive.css
   タブレット・スマホ用スタイル
=========================== */

@media screen and (max-width: 1199px) {
   .keyvisual {
      padding: 250px 2rem;
   }

   .news {
      padding: 50px 0;
   }
   .news-wrapper {
      display: block;
   } 
   .news-image,
   .news-text {
      width: 100%;
      margin: 0 auto;
   }
   .news-text {
      text-align: center;
      padding: 0 20px;
   }

}

@media screen and (max-width: 767px) {
   .contact-button {
      display: none;
   } 
   .header-nav {
      position: relative;
   }
   .header-nav::after {
      content: "\2630";
      font-size: 28px;
      color: #333;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
   }

   .keyvisual {
      padding: 200px 2rem;
   }
   .main-title {
      font-size: 40px;
   }
   .sub-title {
      font-size: 30px;
   }

   .news {
      padding: 50px 0;
   }
   .news-wrapper {
      display: block;
   } 
   .news-image,
   .news-text {
      width: 100%;
      margin: 0 auto;
   }
   .news-text {
      text-align: center;
      padding: 0 20px;
   }

}