@media screen and (max-width: 1199px) {
   .keyvisual {
      padding: 250px 2rem;
   }

   .news {
      padding: 50px 0;
   }

   .news-wrapper {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
   }

   .news-image,
   .news-text {
      width: 100%;
      margin: 0 auto;
   }

   .news-text {
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
   }

   .skills-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
      margin-top: 40px;
   }

   .skills-icon img {
      width: 300px;
      height: 300px;
      margin: 0 auto;
   }

   .skills-icon img:nth-child(3),
   .skills-icon img:nth-child(6),
   .skills-icon img:nth-child(9) {
      margin-bottom: 80px;
   }
}

@media screen and (max-width: 767px) {
   .contact-button {
      display: none;
   }

   .header-nav {
      position: relative;
   }

   .header-nav::after {
      content: "\2630";
      font-size: 28px;
      color: #333;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
   }

   .keyvisual {
      padding: 200px 2rem;
   }

   .main-title {
      font-size: 40px;
   }

   .sub-title {
      font-size: 30px;
   }

   .news {
      padding: 50px 0;
   }

   .news-wrapper {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
   }

   .news-image,
   .news-text {
      width: 100%;
      margin: 0 auto;
   }

   .news-text {
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
   }

   .skills-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
      margin-top: 40px;
   }

   .skills-icon img {
      width: 300px;
      height: 300px;
      margin: 0 auto;
   }

   .skills-icon img:nth-child(3),
   .skills-icon img:nth-child(6),
   .skills-icon img:nth-child(9) {
      margin-bottom: 80px;
   }

   .plan-table th {
      font-size: 14px;
      line-height: 22px;
   }

   .plan-table td {
      font-size: 12px;
   }

   .sns {
      padding: 50px 0;
   }

   .sns-list li a {
      width: 100%;
      padding: 50px 0;
      margin: 0 15px;
      box-sizing: border-box;
   }
}